.IE .ConfortPicker .ant-radio-button-wrapper {
    width: calc(99% / 3) !important;
}

.IE .DiscoverArea {
    display: block;
    margin: 0 auto;
}

.IE .DiscoverArea_shapes {
    display: none;
}


@media (min-width:1040px) and (-ms-high-contrast: none) , 
(-ms-high-contrast: active) {
    .IE .DiscoverArea_first,
.IE .DiscoverArea_second {
    display: inline-block;
}
}

/* .IE .DiscoverArea_second {
    margin-left: -15px;
} */

.IE .Footer_Paragraph {
    width: 100%;
}

.IE .TabsCard .ant-tabs-tab {
    line-height: 20px !important;
    padding: 0.3125rem 0.5rem 0.625rem !important;
}

.IE .TabsCard .ant-tabs-tab label span br{
    display: none;
}

.IE .HeaderMenu {
    display: block;
}