<!DOCTYPE html>
<html lang="en">
<head>
    <title>RI7LATY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <!--link the div-->
    <link href="./Résultats de votre recherche horaires des trains._files/10.72ce2ff6.chunk.css" rel="stylesheet">
    <link href="./Résultats de votre recherche horaires des trains._files/main.4b9e8797.chunk.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./Résultats de votre recherche horaires des trains._files/1.fdd2f5e2.chunk.css">
    <link rel="stylesheet" type="text/css" href="./Résultats de votre recherche horaires des trains._files/2.c6228bb4.chunk.css">
    <link rel="stylesheet" type="text/css" href="./Résultats de votre recherche horaires des trains._files/3.119d113f.chunk.css">
    <link rel="stylesheet" type="text/css" href="./Résultats de votre recherche horaires des trains._files/17.d5985ccf.chunk.css">
</head>
<body>

    @RenderBody()

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

</body>
</html>